/*body {
  background-image: url('https://zenless.tools/images/zzz_site_background.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}*/

@font-face {
  font-family: 'ChineseShit';
  src: url('assets/fonts/inpin.ttf') format('truetype');
  font-display: swap;
}


body {
  position: relative;
  background: rgb(30, 30, 30);
  min-height: 87vh;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://zenless.tools/images/zzz_site_background.webp');
  background-size: auto 110%;
  background-position: 0px 0px;
  background-repeat: repeat;
  background-attachment: fixed;
  opacity: 1;
  z-index: -2;
  animation: scrollBackground 60s linear infinite;
  will-change: background-position;

  /* Fade edges with mask */
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
}

body::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('assets/bg_lb_overlay.webp');
  background-size: 105%;
  background-attachment: fixed;
  background-repeat: repeat;
  background-position: center;
  opacity: 0.4;
  z-index: -1;
  pointer-events: none;
}

@keyframes scrollBackground {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -3840px 0px;
  }
}